# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.local

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp